[project]
	description = sample rails application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dan Fodorean (SideofClouds)
[access "refs/for/refs/*"]
	read = group user/Dan Fodorean (SideofClouds)
	push = group user/Dan Fodorean (SideofClouds)
	label-Code-Review = -2..+2 group user/Dan Fodorean (SideofClouds)
	label-Verified = -1..+1 group user/Dan Fodorean (SideofClouds)
	rebase = group user/Dan Fodorean (SideofClouds)
	removeReviewer = group user/Dan Fodorean (SideofClouds)
	submit = group user/Dan Fodorean (SideofClouds)
[access "refs/heads/*"]
	read = group user/Dan Fodorean (SideofClouds)
	create = group user/Dan Fodorean (SideofClouds)
	push = +force group user/Dan Fodorean (SideofClouds)
	pushMerge = group user/Dan Fodorean (SideofClouds)
[access "refs/tags/*"]
	push = +force group user/Dan Fodorean (SideofClouds)
	pushTag = group user/Dan Fodorean (SideofClouds)
	pushSignedTag = group user/Dan Fodorean (SideofClouds)
